header {
	text-align: center;
	font-size: x-large;
	color: white;
	background-color: black;
}

main {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: stretch;
}

section {
	flex: 1;
}