:root {
	--dark-sienna: #462521;
	--raw-umber: #8A6552;
	--navajo-white: #FFE0B5;
	--polished-pine: #6ba292;
	--rubine-red: #CA2E55;
}

html, body { height: 100%; }

.wrap {
	height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
	font-size: larger;
	line-height: 2rem;
}

header {
	text-align: center;
	font-size: x-large;
	color: var(--navajo-white);
	background-color: var(--dark-sienna);
	padding: 2rem;
}

header h1 {
	transition: all 0.3s ease-out;
}

header h1:hover,
header h1:focus { color: var(--polished-pine); }

main {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: stretch;
}

section {
	flex: 1;
	padding: 1rem;
}

section:first-child {
	text-align: center;
}

img {
	border-radius: 5px;
	box-shadow: 2px 2px 4px -1px var(--dark-sienna);
}

footer {
	background-color: var(--dark-sienna);
	color: white;
	text-align: center;
	padding: 1rem;
}

a,
a:visited {
	color: var(--rubine-red);
	text-decoration: none;
	transition: all 0.1s ease-out;
}

a:hover,
a:focus { font-weight: bold; }

.poem > p { padding-left: 3rem; }

.citation {
	font-style: italic;
	text-align: right;
	margin-right: 25%;
}

.citation::before {
	content: " ~ ";
}